<header class="header">
    <div class="container header-bg">
        {{> nav}}
        <div class="container">
        <div class="flex-grid card-style">
          <section class="hero-col">
            <h1 class="h1-hero">User Profile</h1>
                <div class="col ">
                  <img src="{{user.profilePic}}" style="width: 32px;">
                </div>
          </section>
            <div class="row">
          <section class="hero-col">
                <div class="col">
                  <p class="fs-2">{{user.firstName}} {{user.lastName}}</p>
                  <p><span class="fw-bold">Email: </span>{{user.email}}</p>
                  <p><span class="fw-bold">Social Media: </span> {{bio}}</p>
                </div>
              </div>
              </section>
        </div>
      </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <h2>User Profile</h2>
  </div>
  
</div>

<div class="container">
  

</div>

<div class="container">
{{> course-tile}}
</div>

<script src="./assets/js/userpage.js"></script>