<header class="header">
    <div class="container header-bg">
        {{> nav}}
        <div class="container">
        <div class="flex-grid card-style p-3">
          <section class="hero-col row">
                  <img src="{{user.profilePic}}" class="col-12 col-sm-6"/>
          </section>
          <section class="hero-col">
            <h3 class="h1-hero">{{user.firstName}} {{user.lastName}}</h3>
                  <p><span class="fw-bold">Email: </span>{{user.email}}</p>
                  <p><span class="fw-bold">Social Media: </span> {{bio}}</p>
          </section>
        </div>
      </div>
    </div>
</header>

<div class="container p-5">
  <div class="row">
    <h2>User Profile</h2>
  </div>
<div class="row">
  {{> course-tile}}
</div>
</div>



<script src="./assets/js/userpage.js"></script>